@model web2Project.Models.UserAccount
@{
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
	body {
		background-image: url('/images/pharmacybg.png');
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.center {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 80vh;
	}

	.card {
		background-color: rgba(33, 37, 41, 0.85);
		padding: 40px;
		border-radius: 15px;
		box-shadow: 0 0 20px rgba(0,0,0,0.5);
		width: 100%;
		max-width: 600px;
		color: white;
	}
</style>

<div class="center">
	<form asp-action="Create" class="card">
		<h1 class="text-center">Add Admin</h1>

		<div class="form-floating mb-3 mt-3">
			<input asp-for="Name" class="form-control" placeholder="Name" required />
			<label class="control-label">Name</label>
			<div class="valid-feedback">Valid.</div>
			<div class="invalid-feedback">Please fill out this field.</div>
		</div>
		<div class="form-floating mb-3 mt-3">
			<input asp-for="Password" type="password" class="form-control" placeholder="Password" required />
			<label class="control-label">Password</label>
			<div class="valid-feedback">Valid.</div>
			<div class="invalid-feedback">Please fill out this field.</div>
		</div>
		<div class="d-grid">
			<button type="submit" class="btn btn-primary">Save</button>
			<h6 class="text-danger mt-2 text-center">@ViewData["Message"]</h6>
		</div>
	</form>
</div>

