@model IEnumerable<web2Project.Models.Report>
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
    <style>
        body {
        background-image: url('/images/pharmacybg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        }

        .card {
            background-color: rgba(33, 37, 41, 0.85);
            padding: 40px;
            border-radius: 15px;
            color: white;
        }
    </style>

    <div class="card col-md-8 mx-auto mt-5">
        <h1 class="text-center">Customers Orders Report</h1>
        <hr />

        <table class="table">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Total Orders Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Total</td>
                        <td>
                            <a asp-action="OrderDetail"
                               asp-route-Name="@item.Name"
                               class="btn btn-info btn-sm">
                                View Orders
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
