@model web2Project.Models.Item
@{
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<style>
	body {
		background-image: url('/images/pharmacybg.png');
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.card {
		background-color: rgba(33, 37, 41, 0.85);
		padding: 40px;
		border-radius: 15px;
		box-shadow: 0 0 20px rgba(0,0,0,0.5);
		color: white;
		width: 60%;
		max-width:200%;
	}
</style>

<div class="card col-md-7 mx-auto mt-5">
	<form asp-action="Edit" enctype="multipart/form-data">
		<h1 class="text-center"> Edit Item</h1>
		<hr />
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="Id" />
		<div class="form-floating mb-3 mt-3">
			<input asp-for="Name" class="form-control" placeholder="Name" required />
			<label class="control-label">Item Name</label>
			<div class="valid-feedback">Valid.</div>
			<div class="invalid-feedback">Please fill out this field.</div>
		</div>
		<div class="form-floating mb-3 mt-3">
			<input asp-for="Description" class="form-control" placeholder="Description" />
			<label class="control-label">Description</label>
		</div>
		<div class="form-floating mb-3 mt-3">
			<input asp-for="Price" class="form-control" placeholder="Price" required />
			<label class="control-label">Item Price</label>
			<div class="valid-feedback">Valid.</div>
			<div class="invalid-feedback">Please fill out this field.</div>
		</div>
		<div class="form-group mb-3 mt-3">
			Discount
			<div class="checkbox">
				<label> <input type="radio" asp-for="Discount" value="yes" /> Yes</label>
			</div>
			<div class="checkbox">
				<label> <input type="radio" asp-for="Discount" value="no" /> No</label>
			</div>
		</div>
		<div class="form-floating mb-3 mt-3">
			<input asp-for="Quantity" class="form-control" placeholder="Quantity" required />
			<label class="control-label">Quantity</label>
			<div class="valid-feedback">Valid.</div>
			<div class="invalid-feedback">Please fill out this field.</div>
		</div>
		<div class="form-floating mb-3 mt-3">
			<select class="form-select" id="sel" asp-for="Category">
				<option value="" disabled selected>Select Catagory</option>
				<option>Medicine</option>
				<option>Personal Care</option>
				<option>Vitamins & Supplements</option>
				<option>Medical Devices</option>
			</select>
			<label for="sel" class="form-label">Select Catagory:</label>
			<div class="valid-feedback">Valid.</div>
			<div class="invalid-feedback">Please fill out this field.</div>
		</div>
		<img src="~/images/@Model.ImgFile" width="150" height="150" />
		<div class="form-group">
			<input type="hidden" asp-for="ImgFile" />
			@Model.ImgFile
			<input type="file" class="form-control mt-2" name="file" />
		</div>
		<div class="d-grid gap-3 mt-4 text-center">
			<button type="submit" class="btn btn-primary">Save</button>
			<a asp-action="Index" class="btn btn-secondary px-4">Back to List</a>
		</div>
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
